<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Blog</title>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<header>
<h1><%= title %></h1>
</header>

<nav>
<span><a title="Home" href="/">home</a></span>
<span><a title="存档" href="/archive">archive</a></span>
<span><a title="标签" href="/tags">tags</a></span>
<% if (user) { %>
  <span><a title="Upload" href="/upload">upload</a></span>
  <span><a title="Post" href="/post">post</a></span>
  <span><a title="Logout" href="/logout">logout</a></span>
<% } else { %>
  <span><a title="Login" href="/login">login</a></span>
  <span><a title="Signup" href="/reg">register</a></span>
<% } %>
<span><form action="/search" method="GET"><input type="text" name="keyword" placeholder="SEARCH" class="search" /></form></span>
</nav>

<article>
<% if (success) { %>
  <div><%= success %></div>
<% } %>
<% if (error) { %>
  <div><%= error %> </div>
<% } %>